<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
    </head>
    <div>
        <table>
            <tr>
                <th>名前</th>
                <th>email</th>
                <th>更新</th>
                <th>削除</th>
            </tr>
            <% users.forEach(function(value) { %>
                <tr>
                    <td>
                        <%= value.name %>
                    </td>
                    <td>
                        <%= value.email %>
                    </td>
                    <td><button onclick="window.location.reload();">更新</button> </td>
                    <td><button onclick="del(event)">削除</button></td>
                </tr>
                <% }); %>
        </table>
        <!--こちらに基礎課題で言われてる内容を記述しましょう。ここから-->
        <p id="textTag"></p>
        <p>　　ID　<input type="text" id="nameText" value=""></p>
        <p>　　　　<input type="button" value="Check" id="checkButton"></p>
        <p>　名前　<input type="text" id="nameText01" value=""></p>
        <p>メール　<input type="text" id="nameText02" value=""></p>
        <!--こちらに基礎課題で言われてる内容を記述しましょう。ここまで-->
        <script type="text/javascript">
            // 参考例
            let textTag = document.getElementById('textTag');
            let NUMBER = `<%= number %>`;
            let text2 = `<%= container %>`;
            textTag.innerHTML = text2;
            // 基礎課題01:画面に表示する機能作りましょう。
            /*
            基礎課題02,03をやる前に
            配列とオブジェクトリストをapp.jsから取得するときに以下のやり方が必要になります。
            変数名は自由に決めてください。プロパティ名についてはapp.jsでオブジェクト内に格納したプロパティ名を使用してください。
            以下使用する際は<%#の「#」部分を「=」に変更するよう気をつけてください。%>
            let 変数名 = JSON.parse('<%# JSON.stringify(プロパティ名) %>'.replace(/&#34;/g, '"'));
            */
            let arrayComment = JSON.parse('<%= JSON.stringify(comment) %>'.replace(/&#34;/g, '"'));
            console.log(arrayComment);
            arrayComment.forEach(function (element) {
                console.log(element);
                // HTML側で空のdivタグにid名upを設定してください。
                let up = document.querySelector('#textTag');
                up.insertAdjacentHTML('beforeend', `<p>${element}</p>`);
            });
            // 基礎課題02:HTML内にulタグを作成し、liタグでapp.jsで作成した情報を画面に表示して下さい。
            // 基礎課題03:作成したオブジェクトリストをブラウザに出力して下さい。その場合以下の様に出力して下さい。
            // 例）
            // name: s.chiba
            // email: s.chiba@gmail.com
            let memberUser = JSON.parse('<%= JSON.stringify(user) %>'.replace(/&#34;/g, '"'));
            console.log(memberUser);
            memberUser.forEach(function (member) {
                console.log(member);
                let up = document.querySelector('#textTag');
                up.insertAdjacentHTML('beforeend', `<p>name: ${member.name}<br> email: ${member.email}</p>`);
            });
            // DBからのオブジェクトクラスになります。一旦console.logで何の情報が入ってるのか確認しましょう。
            // 実務課題01:IDで検索したオブジェクトクラスを入力フォームに表示して下さい。
            let user = JSON.parse('<%= JSON.stringify(user) %>'.replace(/&#34;/g, '"'));
            //ボタンを押すと名前とメールを表示する
            function buttonClick() {
                let input = document.getElementById('nameText');
                let id = input.value
                console.log(id)
                user.forEach(function (member) {
                    if (member.id == id) {
                        name.value = member.name;
                        email.value = member.email;
                    }
                    console.log(member);
                });
            }
            // 変数宣言
            let checkButton = document.getElementById('checkButton');
            let name = document.getElementById('nameText01');
            let email = document.getElementById('nameText02');
            checkButton.addEventListener('click', buttonClick);
            //更新
            document.addEventListener('DOMContentLoaded', function () {
                document.getElementById("btn").addEventListener("click", function () {
                    window.location.reload();
                })
            });
            //削除
            const del = (event) => {
                event.target.closest('tr').remove();
            }
        </script>
        </body>
</html>
